/web_front/node_modules
/web_front/.pnp
/web_front/.pnp.js

/web_front/coverage

/web_front/.DS_Store
/web_front/.env.local
/web_front/.env.development.local
/web_front/.env.test.local
/web_front/.env.production.local
/web_front/.env

/web_front/npm-debug.log*
/web_front/yarn-debug.log*
/web_front/yarn-error.log*

/web_backend/env
/web_backend/__pycache__