.admin__header {
    margin: 3rem 0 0 3rem;
}

.admin__link {
    padding: 0.75rem 2.5rem;

    border-radius: 0.5rem;
    border: 1px solid #ddd;

    background-color: #0000;

    font-weight: 600;
    font-size: 1rem;
    color: #ddd;
    text-decoration: none;
   
    transition: 0.6s;
}
  
.admin__link:hover {
    color: #181818;
    background-color: #ddd;
}

@media screen and (max-width: 500px) {
    .admin__header {
        display: flex;
        justify-content: center;

        margin: 2rem 0 0 0;
    }

    .admin__link {
        padding: 0.75rem 2.5rem;
    
        border-radius: 0.5rem;
        font-size: 1.25rem;
    }
}